@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

:root{
--font-content: 'Petrona';
--font-logo: 'Be Vietnam Pro';
--font-titulo: 'Average Sans';
--primary-first: #09789B;
--primary-second: #ECECEC;
--secundary-first: #313045;
--secundary-second: #FED43F;
--secundary-third: #62D5FA;
--positive: #131313 ;
--negative: #F68764;
--background: #FFFFFF;
--text-color: #000000;
}

.encabezado {
    background-color: var(--primary-first);
    padding: 0px;
}

.cuerpo{
    height: 494px;
    padding: 0px;
}

p {
    color: var(--text-color);
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.form-control input{
    background-color: var(--primary-second);
}

.form-control::placeholder {
    text-align: center;
    color: var(--primary-first);
}

.form-control2 {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color:  #ECECEC ;
  
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.form-control2::placeholder {
    text-align: start;
    color: #09789B;
  }

  .form-control3 {
    display: block;
    width:125px ;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color:  #ECECEC ;
  
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.form-control3::placeholder {
    text-align: start;
    color: #09789B;
    padding: 0px;
  }

.contendorPago{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}


.botonLogeo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--positive);
    text-decoration: none;
    width: 180px;
    height: 50px;
    background-color: var(--secundary-second);
}

.botonGeneral {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 240px;
    height: 50px;
    background-color: var(--secundary-third);
}

.botonVolver {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: 50px;
    background-color: var(--secundary-third);
}

footer {
    height: 72px;
    background-color: var(--secundary-first);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-alt {
    height: 72px;
    background-color: var(--background);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


 footer p {
    color: var(--background);
    size: 50px;
    font-family: var(--font-content);
    text-align: center;
}

.menuCanvas {
    color: var(--background);
    font-family: var(--font-titulo);

}


@media (max-width: 992px) {
    .offcanvas-body {
        background-color: var(--primary-first);
    }
  }