@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

:root{
--font-content: 'Petrona';
--font-logo: 'Be Vietnam Pro';
--font-titulo: 'Average Sans';
--primary-first: #09789B;
--primary-second: #ECECEC;
--secundary-first: #313045;
--secundary-second: #FED43F;
--secundary-third: #62D5FA;
--positive: #131313 ;
--negative: #F68764;
--background: #FFFFFF;
--text-color: #000000;
}

.encabezado {
    background-color: var(--primary-first);
    padding: 0px;
}

.cuerpo{
    margin-top: 160px ;
    margin-bottom: 160px ;
    padding: 0px;
}

p {
    color: var(--text-color);
    margin: 0px;
    font-size: 20px;
}

.form-control input{
    background-color: var(--primary-second);
}

.form-control::placeholder {
    text-align: center;
    color: #09789B;
}

.botonLogeo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 180px;
    height: 50px;
    background-color: var(--secundary-second);
}

footer {
    height: 72px;
    background-color: var(--secundary-first);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


 footer p {
    color: var(--background);
    size: 50px;
    font-family: var(--font-content);
    text-align: center;
}


@media (max-width: 992px) {
    .offcanvas-body {
        background: linear-gradient(to right, #09789B, #ECECEC);
    }
  }